/*header*/

.wrapper {
  margin: 0 auto;
  width: 980px;
  /*le logo*/

  h1 {
    font-family: "Prata", serif;
    display: inline;
  }
  /*Menu*/

  .wrapper nav {
    display: inline;
  }
  nav ul {
    list-style-type: none;
    display: inline;
    font-family: "Satisfy", cursive;
  }
  nav ul li {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
  }
  nav .dropDown ul {
    display: none;
    /* position: absolute;*/
  }
  nav .dropDown:hover ul {
    display: inline-block;
  }

  /*home image*/

  .homeImage img {
    /* position: absolute;*/
    width: 980px;
    margin-top: 30px;
  }

  /*barre de recherche*/
  .barreDeRecherche {
    margin-left: 280px;
    /*position: absolute;*/
    top: 500px;
  }

  #recherche {
    /* position: absolute;*/
    margin-top: 20px;

    width: 450px;
    height: 40px;
  }
  /*button*/
  .buttonDeRecherche {
    width: 40px;
    height: 40px;
    margin-top: 20px;
  }
}
